
<div class="container">
    <% subscribers.forEach(s => {%>
        <p>name: <%= s.name %></p>
        <p>email: <%= s.email %></p>
        <p>zip code: <%= s.zipCode %></p>
        <p>street address: <%= s.streetAddress %></p>
        <p>vip: <%= s.vip %></p>
    <% })%>
</div>